---
---

<section class="py-10 mt-12 border-t border-gray-800">
  <div class="text-center justify-center max-w-lg mx-auto">
    <p class="text-xl mb-6">
      Join the mission
    </p>

    <form class="flex flex-col items-center" method="POST"
    action="https://forms.reform.app/headless/R8Uujx/izvir/dc0f3v/submissions" target="_blank">
      <input 
        type="email" 
        placeholder="jes@above.com" 
        class="w-full max-w-md px-4 py-2 mb-5 bg-black border border-gray-600 focus:border-red-500 focus:outline-none transition-colors"
        name="answers[0c5f2207-f72b-4b03-bd3a-75ca1006b152]" 
        required
      >
      <button 
        type="submit" 
        class="red-button w-full max-w-md px-4 py-2 text-white font-bold hover:bg-red-900 transition-colors"
      >
        Enter the source
      </button>
    </form>

    <p class="text-gray-400 text-sm mt-4">
      Join us in creating a more meaningful social media experience
    </p>
  </div>
</section>
